@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800;900&display=swap');


:root {
  --primary-brand-color: #D24545;
  --secondary-brand-color: #E6BAA3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

span {
  color: var(--primary-brand-color);
}

.primary {
  color: var(--primary-brand-color);
}

/* =================== NAVBAR ===================  */
#navbar {
  color: var(--primary-brand-color);
}


/* =================== LOGIN ===================  */
.login_box{
  padding: 50px;
}

.img_box {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.img_box img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

/* =================== HERO ===================  */

#hero button {
  background-color: var(--primary-brand-color);
}

.hero_img {
  height: 350px;
  width: auto;
  object-fit: contain;
}

/* =================== PRODUCTS ===================  */

.product_box {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

.product_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product_box_items {
    position: absolute;
    width: 100%;
    height: 100%;
    /* bottom: 0 - to show, bottom: -100% - to hide */
    bottom: -100%;
    left: 0;
    background: linear-gradient(
      180deg,
      hsla(var(--hue), 24%, 40%, 0.3) 0%,
      hsla(var(--hue), 24%, 4%, 1) 95%
    );
    background: #C33764;  /* fallback colour. Make sure this is just one solid colour. */
    background: linear-gradient(rgba(11, 11, 15, 0.8), rgba(144, 144, 144, 0.8)); /* The least supported option. */
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    transition: 0.3s;
}

.product_box:hover .product_box_items {
  bottom: 0;
}