@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;800;900&display=swap');


:root {
  --primary-brand-color: #D24545;
  --secondary-brand-color: #E6BAA3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}



span {
  color: var(--primary-brand-color);
}

.primary {
  color: var(--primary-brand-color);
}

button.brand-secondary {
  background-color: var(--secondary-brand-color) !important;
  /* color: white; */
}

/* =================== NAVBAR ===================  */
#navbar {
  color: var(--primary-brand-color);
}


/* =================== REGISTER ===================  */
.register_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =================== LOGIN ===================  */
.img_box {
  width: 100%;
  height: 500px;
  object-fit: cover;
}


/* =================== HERO ===================  */

#hero button {
  background-color: var(--primary-brand-color);
}

.hero_img {
  height: 350px;
  width: auto;
  object-fit: contain;
}

/* =================== PROMO ===================  */

.promo_box {
  padding: 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: url("./images/promo.avif");
  background-size: cover;
  background-position: 50%;
}

.faded {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: rgba(255,255,255,0) linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.97) 80%) repeat scroll 0 0;
}


.promo_img {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background:rgba(255,255,255,0) linear-gradient(to bottom,rgba(255,255,255,0) 0%,rgba(255,255,255,.97) 80%) repeat scroll 0 0;
}



/* =================== PRODUCTS ===================  */

.product_box {
  position: relative;
}

.product_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .product_box_items {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: -100%;
    left: 0;
    display: grid;
    align-items: flex-end;
    padding: 1.5rem 1.25rem;
    transition: 0.3s;
} */

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  /* background: rgb(0, 0, 0); */
  background: rgba(0, 0, 0, 0.8); /* Black see-through */
  transition: .5s ease;
  color: #f1f1f1;
  opacity:0;
  padding: 20px;
}

.product_box:hover .overlay {
  opacity: 1;
}